#1-Write a Python program to add an item to a tuple.

In [ ]:
def add_item(tupple , new_item):
  new_tup = tuple (list(tupple )+ [new_item ])
  return new_tup

tupple = (1,2,3,4)

result = add_item(tupple, 6)

print ( result)

(1, 2, 3, 4, 6)

#2. Write a Python program to sum all the items in a list.

In [ ]:
def sum_items(lst):
  sum_lst = 0
  for item in lst:
    sum_lst += item
  return sum_lst


lst = [1,2,3,4,5,6,7,8]
result = sum_items(lst)

print (result )

36

#3. Write a Python program to multiply all the items in a list.

In [ ]:
def mult_items(lst):
  i = 1
  for item in lst:
    i *= item
  return i


lst = [1,2,3,4,5,6,7,8]
result = mult_items(lst)
print(result)

40320

#4. Write a Python program to get the smallest number from a list.

In [ ]:
def min_num(lst):
  return min(lst)

lst = [55,5,5434,10.2,4534,0.45,5787]
result = min_num(lst)
print(result )

0.45

#5. Write a Python program to get the largest number from a list.

In [ ]:
def max_num(lst):
  lst.sort()
  return lst[-1]

lst = [55,5,5434,10.2,4534,0.45,5787]

result = max_num(lst)

print (result)

5787

#6. Write a Python program to count the number of strings from a given list of strings.

In [ ]:
def count_str(lst):
  count=0
  for item in lst:
    if isinstance(item,str):
      count +=1
  return count



lst = ["apple", 2,6,"banana", "cherry",7, "date", 8,"fig", 5 ,  "grape"]
result = count_str(lst)

print (result )

6

#7. Write a Python program to clone or copy a list

In [ ]:
def clone_lst(lst):
  copied_lst = list(lst)
  return copied_lst

#ex
lst = [1, 2, 3, 4, 56]
copied_lst = clone_lst(lst)
print (copied_lst)

[1, 2, 3, 4, 56]

#8. Write a Python program to remove item(s) from a given set.

In [ ]:
def remove_item(set, item):
  try:
    set.remove(item)
  except (KeyError, TypeError):
    print (f"{item} is not in the set, please try again")
  return set
my_set = {1, 2, 3, 4, 5}

result = remove_item(my_set,5 )
print (result)

{1, 2, 3, 4}

#9. Write a Python program to check if a set is a subset of another set.

In [ ]:
def is_subset (set1, set2):
  return set2.issubset(set1)


set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

result = is_subset(set1,set2)
if result == True :
  print ("Yes, it's a subset from set1 ")
else:
  print ("No, it's not a subset from set1")

Yes, it's a subset from set1

#10. Write a Python program to remove all elements from a given set.

In [ ]:
def clean_set(set):
  set.clear()
  return set

set1 = {1, 2, 3, 4, 5}
result = clean_set(set1)

print (result)

set()

#11. Write a Python program to find the maximum and minimum values in a set.

In [ ]:
def max_min (set1):
  return max(set1), min(set1)

set1 = {1, 2, 3, 4, 5}
result= max_min(set1)

print (result)

(5, 1)

#12. Write a Python program to find the index of an item in a tuple

In [ ]:
def find_index(tupple, item):
  try:
    place = tupple.index (item)
    return place
  except ValueError:
    print ("the item is not in the tuple ")

my_tuple = (10, 20, 30, 40, 50)

result = find_index(my_tuple , 40)
print (result)

3

#13. Write a Python program to convert a tuple to a dictionary.

In [ ]:
def tup_to_dic(tupple ):
  if len(tupple) % 2 != 0 :
    raise ValueError ("the length of the tuple must be even to convert it to a dict ")

  my_dict ={}
  for i in range (0, len(tupple), 2):
    key = tupple[i]
    value = tupple[i+1]
    my_dict[key] = value
  return my_dict

my_tuple = ('a', 1, 'b', 2, 'c', 3)
result = tup_to_dic(my_tuple)
print (result )

{'a': 1, 'b': 2, 'c': 3}

#14. Write a Python program to unzip a list of tuples into individual lists.

In [ ]:
def unzip_tup(lst):
  unzip = list(zip(*lst))
  lists = [list(i) for i in unzip ]
  return lists

l = [(1, 'a', True), (2, 'b', False), (3, 'c', True)]
result= unzip_tup(l)

for i, lst in enumerate(result):
    print(f"List {i + 1}: {lst}")

List 1: [1, 2, 3]
List 2: ['a', 'b', 'c']
List 3: [True, False, True]

#15. Write a Python program to reverse a tuple.

In [ ]:
def reverse(tupple):
  lst = list(reversed(tupple))

  return lst

tupple = (1, 2, 3, 4, 5)
result = reverse(tuple)
print (result)

[5, 4, 3, 2, 1]

#16. Write a Python program to convert a list of tuples into a dictionary.

In [ ]:
def tuples_to_dict(lst):
  dic = {}
  for item in lst:
    key, value = item
    dic[key] = value
  return dic

list_of_tuples = [(1, 'one'), (2, 'two'), (3, 'three')]

result = tuples_to_dict(list_of_tuples)
print (result )

{1: 'one', 2: 'two', 3: 'three'}

#17. Write a Python program to replace the last value of tuples in a list.

In [ ]:
def replace_item(lst, item):
  for index ,tuple_item in enumerate(lst):
    if isinstance(tuple_item, tuple):
      new_tuple = tuple_item[:-1] + (item,)
      lst[index] = new_tuple
  return lst

input_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
result = replace_item(input_list, 55)
print (result)

[(1, 2, 55), (4, 5, 55), (7, 8, 55)]

#18.  Write a Python program to sort a tuple by its float element.

In [ ]:
def sort_tuple(tupple):
  sort = sorted(tupple, key = lambda x: x[1])
  return sort


data = [("Alice", 3.2), ("Bob", 1.5), ("Charlie", 2.7), ("David", 4.0)]

result = sort_tuple(data)
print (result )

[('Bob', 1.5), ('Charlie', 2.7), ('Alice', 3.2), ('David', 4.0)]